<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="profile" (ngSubmit)="submitForm(profile.value)">

    <ion-list>

      <ion-item>
        <img [src]="profile.controls['photoURL'].value || defaultPhoto">
      </ion-item>

      <ion-item>
        <ion-label floating>Photo URL</ion-label>
        <ion-input type="url" [formControl]="profile.controls['photoURL']" clearInput="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nickname</ion-label>
        <ion-input type="text" [formControl]="profile.controls['nickName']" clearInput="true" placeholder="(e.g. {{randomNickname}})"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Full Name</ion-label>
        <ion-input type="text" [formControl]="profile.controls['displayName']" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="email" [formControl]="profile.controls['email']" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Staff Level</ion-label>
        <ion-select [formControl]="profile.controls['staffLevel']">
          <ion-option *ngFor="let level of staffLevels | keys" [value]="level.key">{{level.value}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Tags</ion-label>
        <ion-select [formControl]="profile.controls['tags']" multiple="true">
          <ion-option *ngFor="let tag of tags | keys" [value]="tag.key">{{tag.value}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Bio</ion-label>
        <ion-textarea [formControl]="profile.controls['bio']" maxlength="140" placeholder="You have 140 characters..."></ion-textarea>
      </ion-item>

      <ion-item>
        <button type="submit" [disabled]="!profile.valid" ion-button block>Save</button>
        <button type="button" (click)="confirmReset()" ion-button block color="danger" outline>Reset Google Defaults</button>
        <br>
        <button type="button" (click)="logout()" ion-button block color="light">Sign Out</button>
      </ion-item>

    </ion-list>

  </form>

  <ion-list [hidden]="!rawProfile.admin">

    <ion-list-header>
      Admin Panel
    </ion-list-header>

    <ion-item-divider>
      Create Employees
    </ion-item-divider>

    <ion-item>
      <ion-label stacked>Number of Employees</ion-label>
      <ion-select [(ngModel)]="numEmployees">
        <ion-option *ngFor="let opt of numEmployeeOptions" [value]="opt">{{opt}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Tags</ion-label>
      <ion-select [(ngModel)]="employeeTags" multiple="true">
        <ion-option *ngFor="let tag of tags | keys" [value]="tag.key">{{tag.value}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <button type="button" ion-button block (click)="employeeConfirm()">Create Employees</button>
      <button type="button" (click)="confirmEmployeeClear()" ion-button block color="danger">Clear all generated employees</button>
    </ion-item>

  </ion-list>

</ion-content>
