<!--
  Generated template for the MemberSwiper page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      {{team.name || 'Member Finder'}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Done</span>
        <ion-icon name="md-checkmark" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding id="viewport">
  <div class="swing-stack" swing-stack  [stackConfig]="stackConfig"  #myswing1 (throwout)="onThrowOut($event)">
    <ion-card class="swing-card" swing-card #mycards1 *ngFor="let u of cards" (tap)="onTap(u)">
      <img [src]="u.photoURL" [alt]="u.displayName">
      <ion-card-content>
        <h2>{{u.displayName}}</h2>
        <h3>{{staffLevels[u.staffLevel]}}</h3>
        <div class="tags"><ion-chip *ngFor="let tag of u.tags"><ion-label>#{{tags[tag]}}</ion-label></ion-chip></div>
      </ion-card-content>
      <!-- <ion-row>
        <ion-col>
          <button ion-fab mini color="danger">No</button>
        </ion-col>
        <ion-col>
          <button ion-fab mini color="secondary">Yes</button>
        </ion-col>
      </ion-row> -->
    </ion-card>
  </div>
</ion-content>
