<!--
  Generated template for the Teams page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab bottom right>
    <button ion-fab (click)="addTeam()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div [hidden]="teamsList.length" class="no-teams">
    <h2>No Teams Yet!</h2>
    <p>You are not on any teams yet.</p>
    <p>Use the "+" to start building your own team!</p>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let team of teamsList" (tap)="goToChat(team, slidingItem)" #slidingItem>
      <ion-item>
        <h2>{{team.name}}</h2>
        <h3>
          <span class="tag" *ngFor="let tag of team.tags">
            #{{tags[tag]}}
          </span>
        </h3>
        <p [hidden]="team.members.length">(No members yet)</p>
        <p [hidden]="!team.members.length">
          {{team.members.length}} Members
        </p>
      </ion-item>
      <ion-item-options side="right" [hidden]="!team.isOwner">
        <button ion-button icon-only (click)="addTeam(team.id, $event, slidingItem)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="presentConfirm(team, $event)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  {{teamsList | json}}
</ion-content>
