.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    top: 48px; right: 0; bottom: 0; left: 0;
    overflow-x: hidden;
    background: inherit;
    transition:  300ms ease-in-out;
}


.slide-left.ng-enter {
    z-index: 100;
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 101;
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 101;
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 100;
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    transform: translateX(100%);
}
